@page {
  margin: 0;
  size: 1024px 640px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/projects\/visma\/shower-visma\/shower\/themes\/visma\/styles\/print\.scss}line{font-family:\0000314}}
.list {
  padding: 0;
  background: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/projects\/visma\/shower-visma\/shower\/themes\/visma\/styles\/print\.scss}line{font-family:\0000318}}
  .list * {
    -webkit-print-color-adjust: exact; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/projects\/visma\/shower-visma\/shower\/themes\/visma\/styles\/print\.scss}line{font-family:\0000322}}
  .list .caption {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/projects\/visma\/shower-visma\/shower\/themes\/visma\/styles\/print\.scss}line{font-family:\0000326}}
  .list .slide {
    float: none;
    margin: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/projects\/visma\/shower-visma\/shower\/themes\/visma\/styles\/print\.scss}line{font-family:\0000334}}
    .list .slide:before {
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/projects\/visma\/shower-visma\/shower\/themes\/visma\/styles\/print\.scss}line{font-family:\0000337}}
    .list .slide:after {
      position: absolute;
      left: 120px;
      bottom: 80px;
      color: #CCC;
      text-shadow: none;
      line-height: 18px;
      font-weight: normal;
      font-size: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/projects\/visma\/shower-visma\/shower\/themes\/visma\/styles\/print\.scss}line{font-family:\0000349}}
    .list .slide.cover, .list .slide.shout {
      z-index: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/projects\/visma\/shower-visma\/shower\/themes\/visma\/styles\/print\.scss}line{font-family:\0000351}}
      .list .slide.cover:after, .list .slide.shout:after {
        content: ''; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/projects\/visma\/shower-visma\/shower\/themes\/visma\/styles\/print\.scss}line{font-family:\0000355}}
    .list .slide.cover {
      background: #000; }
